{{> header}}

<div class="home">
  <img class="dummy-bg"src="https://images.unsplash.com/photo-1505592225030-dad7a0531844?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4047d8c69106ba6f85bd9ec4ff947a38&auto=format&fit=crop&w=2256&q=80" alt="dummy image">
  <div class="home-submenu">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="home-item">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
              +
            </button>
            <span>CK Advertising</span>
          </div>
          <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Ipsum suspendisse ultrices gravida dictum fusce ut. Risus in hendrerit gravida rutrum quisque non tellus. A scelerisque purus semper eget duis at tellus. In pellentesque massa placerat duis ultricies lacus sed turpis. At tellus at urna condimentum mattis pellentesque id. Enim sed faucibus turpis in eu mi bibendum neque. Sit amet volutpat consequat mauris. Facilisi morbi tempus iaculis urna id. Sed viverra ipsum nunc aliquet bibendum enim. Dapibus ultrices in iaculis nunc sed augue lacus. Adipiscing tristique risus nec feugiat in. Morbi tristique senectus et netus et. A condimentum vitae sapien pellentesque habitant. Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Ok</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="home-item">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal2">
              +
            </button>
            <span>Dygen</span>
          </div>
          <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Ipsum suspendisse ultrices gravida dictum fusce ut. Risus in hendrerit gravida rutrum quisque non tellus. A scelerisque purus semper eget duis at tellus. In pellentesque massa placerat duis ultricies lacus sed turpis. At tellus at urna condimentum mattis pellentesque id. Enim sed faucibus turpis in eu mi bibendum neque. Sit amet volutpat consequat mauris. Facilisi morbi tempus iaculis urna id. Sed viverra ipsum nunc aliquet bibendum enim. Dapibus ultrices in iaculis nunc sed augue lacus. Adipiscing tristique risus nec feugiat in. Morbi tristique senectus et netus et. A condimentum vitae sapien pellentesque habitant. Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Ok</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="home-item">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal3">
              +
            </button>
            <span>Ember Social</span>
          </div>
          <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Ipsum suspendisse ultrices gravida dictum fusce ut. Risus in hendrerit gravida rutrum quisque non tellus. A scelerisque purus semper eget duis at tellus. In pellentesque massa placerat duis ultricies lacus sed turpis. At tellus at urna condimentum mattis pellentesque id. Enim sed faucibus turpis in eu mi bibendum neque. Sit amet volutpat consequat mauris. Facilisi morbi tempus iaculis urna id. Sed viverra ipsum nunc aliquet bibendum enim. Dapibus ultrices in iaculis nunc sed augue lacus. Adipiscing tristique risus nec feugiat in. Morbi tristique senectus et netus et. A condimentum vitae sapien pellentesque habitant. Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Ok</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>

</div>

{{> footer}}
